workflows/EtiiaSsqADr6gHUS.json
{
  "id": "EtiiaSsqADr6gHUS",
  "name": "Barchart Fetch Top 100 Opinion",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "440d9cd8-9b0a-40f0-bc58-fd9410a14f5e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://www.barchart.com/proxies/core-api/v1/quotes/get",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "list",
              "value": "stocks.us.weighted_alpha.advances"
            },
            {
              "name": "fields",
              "value": "symbol,opinion"
            },
            {
              "name": "orderBy",
              "value": "opinion"
            },
            {
              "name": "orderDir",
              "value": "desc"
            },
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/149.0.0.0 Safari/537.36"
            },
            {
              "name": "x-xsrf-token",
              "value": "={{ $json.xsrf_token }}"
            },
            {
              "name": "cookie",
              "value": "={{ $json.cookie }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        96
      ],
      "id": "4ddfb0b6-81b5-4010-8ed9-d060c5704442",
      "name": "HTTP Request // Fetch List"
    },
    {
      "parameters": {
        "url": "https://www.barchart.com",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/149.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        96
      ],
      "id": "6a9a14ae-cc1b-4c90-b9eb-00fad6368713",
      "name": "HTTP Request // Fetch Cookies"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b58cff75-579b-4c1c-9b04-c60c0cd9c305",
              "name": "xsrf_token",
              "value": "={{ decodeURIComponent($json.headers[\"set-cookie\"]\n  .map(c => c.split(\";\")[0])\n  .find(c => c.startsWith(\"XSRF-TOKEN=\"))\n  ?.replace(\"XSRF-TOKEN=\", \"\") || \"\") }}",
              "type": "string"
            },
            {
              "id": "2c8cb950-aee6-4016-a175-6cbeaa1fc458",
              "name": "cookie",
              "value": "={{ decodeURIComponent($json.headers[\"set-cookie\"]) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        96
      ],
      "id": "3f50123b-bc1a-4111-a1fa-15130a376fb0",
      "name": "Edit Fields // Pick Headers"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        192
      ],
      "id": "8b3793f0-764e-4168-9dea-e0d808a55f5b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "JYH7bG3nCSABhL49",
          "mode": "list",
          "cachedResultName": "barchart_opinion",
          "cachedResultUrl": "/projects/MWo4IWyLzGdVjJmA/datatables/JYH7bG3nCSABhL49"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "symbol": "={{ $json.symbol }}",
            "opinion": "={{ $json.opinion }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "symbol",
              "displayName": "symbol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "opinion",
              "displayName": "opinion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "optimizeBulk": true
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1120,
        96
      ],
      "id": "4b6ce500-d647-438c-8b0b-ec33c4205309",
      "name": "Insert row"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        896,
        96
      ],
      "id": "470f9802-364a-4e18-be24-ac48896e0ca0",
      "name": "Split Out"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request // Fetch Cookies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request // Fetch Cookies": {
      "main": [
        [
          {
            "node": "Edit Fields // Pick Headers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields // Pick Headers": {
      "main": [
        [
          {
            "node": "HTTP Request // Fetch List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request // Fetch Cookies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request // Fetch List": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Jerusalem",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 900
  },
  "triggerCount": 1,
  "versionId": "0635060c-0094-4bc8-aa3b-d46c588534dc",
  "owner": {
    "type": "personal",
    "projectId": "MWo4IWyLzGdVjJmA",
    "projectName": "Ziv zivhadad1@gmail.com <zivhadad1@gmail.com>",
    "personalEmail": "zivhadad1@gmail.com"
  },
  "parentFolderId": null,
  "isArchived": false,
  "nodeGroups": []
}